html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --color-black-1: #000;
  --color-black-2: #333;
  --color-gray-1: #666;
  --color-gray-2: #999;
  --color-gray-3: #cacaca;
  --color-gray-4: #ececec;
  --color-purple-1: #d1a9f0;
  --color-purple-2: #c283f3;
  --color-purple-3: #9d5cd0;
  --color-purple-4:  #7943a4;
  --color-white: #fff;
}

/*glob*/

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.container {
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section__descr_w1080 {
  max-width: 1080px;
}

.section__subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.section__date {
  margin: 0;
  margin-bottom: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-gray-2);
}

/* Header */

.header {
  background: var(--color-black-1);
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 29px;
}

.header__logo {
  margin-right: auto;
}

.header__logo:focus-visible,
.footer__logo:focus-visible {
  outline-offset: 10px;
}

.header__nav {
  margin-right: 283px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

.header__list {
  display: flex;
  align-items: center;
  column-gap: 84px;
}

.header__link {
  padding: 6px;
  transition: all .3s ease-in-out;
}

.header__search {
  padding: 4px;
  transition: all .3s ease-in-out;
}

.header__search path,
.header__search rect{
  transition: all .3s ease-in-out;
}

.header__link:focus-visible {
  outline: none;
  background-color: var(--color-purple-4);
}

.header__link:hover:not(:focus-visible) {
  color: var(--color-purple-2);
}

.header__link:active:not(:focus-visible) {
  color: var(--color-purple-4);
}

.header__search:focus-visible {
  outline: none;
  background-color: var(--color-purple-4);
}

.header__search:hover:not(:focus-visible) path,
.header__search:hover:not(:focus-visible) rect {
  fill: var(--color-purple-2);
}

.header__search:active:not(:focus-visible) path,
.header__search:active:not(:focus-visible) rect {
  fill: var(--color-purple-3);
}

/* Hero */

.hero {
  color: var(--color-white);
  background-image: url('../image/hero-banner-1920.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.hero__wrapper {
  padding-top: 146px;
  padding-bottom: 146px;
  display: flex;
  flex-direction: column;
  row-gap: 92px;
}

.hero__text {
  max-width: 579px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 68px;
}

.hero__descr {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  align-self: start;
  padding: 22px 35px;
  background-color: var(--color-purple-3);
  color: var(--color-white);
  transition: all .2s ease-in-out;
}

.hero__btn:focus-visible {
  outline: 2px solid var(--color-purple-2);
  outline-offset: 5px;
}

.hero__btn:hover:not(:focus-visible) {
  outline: 3px solid var(--color-purple-1);
}

.hero__btn:active:not(:focus-visible) {
  background-color: var(--color-purple-4);
}

/* About us */

.about-us {
  padding-top: 80px;
  padding-bottom: 75px;
  color: var(--color-black-2);
}

/* Gallery */

.gallery {
  padding-top: 75px;
  padding-bottom: 80px;
  color: var(--color-white);
  background-image: url('../image/gallery-banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery__title {
  margin-bottom: 20px;
}

.gallery__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gallery__checks {
  display: flex;
  flex-direction: column;
}

.gallery__item {
  cursor: pointer;
}

.gallery__radio {
  display: none;
}

.gallery__name {
  position: relative;
  padding-left: 24px;
  line-height: 32px;
}

.gallery__name::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-white);
  transform: translateY(-50%);
}

.gallery__name::after {
  position: absolute;
  left: 4px;
  top: 50%;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-purple-2);
  opacity: 0;
  transform: translateY(-50%);
}

.gallery__item input:checked + .gallery__name::after {
  opacity: 1;
}
.gallery__item input:checked + .gallery__name::before {
  border-color: var(--color-purple-2);
}
.gallery__item input:checked + .gallery__name {
  color: var(--color-purple-2);
}

.gallery__name:focus-visible,
.gallery__name:active:not(:focus-visible) {
  color: var(--color-purple-2);
}

.gallery__name:focus-visible::before,
.gallery__name:hover:not(:focus-visible)::before,
.gallery__name:active:not(:focus-visible)::before {
  border-color: var(--color-purple-2);
}

.gallery__images {
  display: flex;
  column-gap: 50px;
}

/* Catalog */

.catalog {
  padding-top: 80px;
  padding-bottom: 40px;
}

.catalog__descr {
  margin-bottom: 39px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.catalog__item {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.catalog__subtitle {
  margin-bottom: 9px;
}

/* Events */

.events {
  padding-top: 40px;
  padding-bottom: 40px;
}

.events__list {
  display: flex;
  column-gap: 50px;
}

.events__item {
  flex-basis: 500px;
  border: 1px solid var(--color-gray-3);
}

.events__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 395px;
  padding: 10px 50px 40px;
}

.events__date {
  display: flex;
  flex-direction: column;
}

.events__title {
  margin-bottom: 10px;
}

.events__subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.events__link {
  position: relative;
  align-self: start;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-purple-3);
  transition: all .3s ease-in-out;
}

.events__link::before {
  position: absolute;
  bottom: 2px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-purple-3);
}

.events__link:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-purple-3);
}

.events__link:focus-visible::before {
  background-color: var(--color-white);
}

.events__link:hover:not(:focus-visible) {
  color: var(--color-purple-4);
}
.events__link:hover:not(:focus-visible)::before {
  background-color: var(--color-purple-4);
}

.events__link:active:not(:focus-visible) {
  color: var(--color-black-2);
}
.events__link:active:not(:focus-visible)::before {
  background-color: var(--color-black-2);
}

/* projects */

.projects {
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--color-gray-3);
}

.projects__descr {
  margin-bottom: 30px;
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.projects__list {
  display: flex;
  column-gap: 36px;
}

.projects__item {
  padding: 25px;
  border: 1px solid var(--color-gray-3);
}

.projects__link:focus-visible {
  outline-offset: 25px;
}

/* contacts */

.contacts {
  padding-top: 36px;
  padding-bottom: 39px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.contacts__form {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts__input {
  width: 270px;
  padding: 9px 24px;
  border-radius: 100px;
  border: 1px solid var(--color-black-2);
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-black-2);
  transition: all .3s ease-in-out;
}

.contacts__input:focus {
  background-color: var(--color-gray-4);
}

.contacts__input:focus-visible {
  outline: none;
}

.contacts__input:hover:not(:focus-visible) {
 background-color: var(--color-gray-4);
}

.contacts__btn_mobile {
  display: none;
}

.contacts__btn {
  padding: 12px 35px;
  border: 2px solid var(--color-purple-3);
  color: var(--color-purple-3);
  transition: all .2s ease-in-out;
}

.contacts__btn:focus-visible {
  outline: 2px solid var(--color-purple-2);
  outline-offset: 5px;
}

.contacts__btn:hover:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-purple-3);
}

.contacts__btn:active:not(:focus-visible) {
  outline: 3px solid var(--color-purple-1);
  color: var(--color-white);
  background-color: var(--color-purple-4);
}

.contacts__social-title {
  margin-bottom: 6px;
}

.contacts__social-links {
  display: flex;
  column-gap: 20px;
}

.contacts__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.contacts__social-link:focus-visible {
  outline: none;
  opacity: .5;
}

.contacts__social-link:hover:not(:focus-visible) {
  opacity: .5;
}

.contacts__social-link:active:not(:focus-visible) {
  outline: 2px solid var(--color-purple-3);
  opacity: 1;
}

/* footer */

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--color-black-1);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  column-gap: 20px;
}

.footer__link path {
  fill: var(--color-gray-3);
  transition: all .3s ease-in-out;
}

.footer__link:focus-visible {
  outline: none;
}

.footer__link:focus-visible path,
.footer__link:hover:not(:focus-visible) path {
  fill: var(--color-white);
}

.footer__link:active:not(:focus-visible) path {
  fill: var(--color-purple-3);
}
